
.App{
  text-align: center;
  padding: 20px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Quotes{
  width: 350px;
  text-align: right;
  padding: 1rem;
  background-color: antiquewhite;
  position: relative;
}
.Quotes p{
  display:inline-block;
  text-align: center;
  margin: 10px;
}
.Quotes p i{
  padding: 10px;
}
.Quotes li{
  list-style: none;
  margin: 10px;
}
.Quotes button{
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
